* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7FBFE;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto 0;
}

//----------- CONTENT ----------------

.content {
  padding: 40px;
  min-height: 70vh;
  margin-bottom: 30px;

  h1 {
    margin: 0;
  }
}

.empty-title{
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}

.empty-subtitle{
  color: #6e6e6e;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-back{
  padding: 0;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  background: transparent;
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }
}

.greenButton {
  width: 245px;
  margin-top: 20px;
  background: #9DD558;
  border-radius: 18px;
  padding: 18px;
  border: none;
  color: white !important;
  cursor: pointer;

  &:hover {
    img {
      transform: rotate(180deg) translateX(3px);
    }
  }

  img {
    position: relative;
    top: 1px;
    transform: rotate(180deg);
    margin-right: 15px;
    transition: transform 0.15s ease-in-out;
  }
}

.search-block {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 14px 18px;
  max-width: 250px;
  position: relative;

  .clear {
    position: absolute;
    top: 14px;
    width: 18px;
    height: 18px;
    right: 15px;
  }

  input {
    border: none;
    margin-left: 12px;
    font-size: 16px;
    width: 100%;
  }
}

